.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Editor directories and files
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
# Eclipse
.gradle
gen/
out/
tmp/
*.tmp
*.bak
*.swp
.settings/
.loadpath
.project
.classpath

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

